<!DOCTYPE html>
<html lang="en">

<head>
    <title>App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-size: 2rem;">KAVEE</a>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">ค้นหาคําคล้องจอง/คําไวพจน์</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="window.location.href='/page2'">ตรวจฉันทลักษณ์</a>
                    </li>


                </ul>
            </div>
            <button class="btn btn-dark ml-auto"
                onclick="window.location.href='https://forms.gle/ugtpNidKJoACLA599';">Review</button>
        </div>
    </nav>

    <div class="d-flex justify-content-center align-items-start vh-70 pt-5">
        <form class="col-md-6">
            <div class="container">
                <h2 class="mb-3">ค้นหาคําศัพท์</h2>
                <p>ฐานข้อมูลคำศัพท์: พจนานุกรม ฉบับราชบัณฑิตยสถาน พ.ศ. 2542</p>
                <form id="myForm">
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="ใส่คําที่คุณต้องการค้นหา">
                    </div>

                    <button id="myButton" type="submit" class="btn btn-primary">ค้นหาคําคล้องจอง</button>

                    <button type="submit" class="btn btn-primary">ค้นหาคําไวพจน์</button>
                    <button id="mean" type="submit" class="btn btn-primary">ค้นหาความหมายของคํา</button>
                </form>

            </div>
        </form>

    </div>
    <div class="container">
        <div id="response"></div>
    </div>












    <script src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>