<!DOCTYPE html>
<html lang="en">

<head>
  <title>App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <div class="container">
      <a class="navbar-brand" href="#" style="font-size: 2rem;">KAVEE</a>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <!-- <a class="nav-link" href="index.html">ค้นหาคําคล้องจอง/คําไวพจน์</a> -->
            <a class="nav-link" onclick="window.location.href='/'">ค้นหาคําคล้องจอง/คําไวพจน์</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="page2.html">ตรวจฉันทลักษณ์</a>
          </li>

        </ul>
      </div>
      <button class="btn btn-dark ml-auto"
        onclick="window.location.href='https://forms.gle/ugtpNidKJoACLA599';">Review</button>
    </div>
  </nav>

  <div class="d-flex justify-content-center align-items-start vh-100 pt-5">
    <form class="col-md-6">
      <div class="container">
        <h2 class="mb-3">คําประพันธ์ของคุณ</h2>
        <form>
          <div class="form-group">
            <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ฉันเดินไปที่ครัวเมื่อเช้านี้
พบคุณพี่เล่นเกมอย่างสุขสันต์
มาเมื่อไรก็พบทุกคืนวัน
เลยมาเล่นด้วยกันอยู่บ่อยครั้ง
              
แล้วสอนว่าอย่าไว้ใจมนุษย์
มันแสนสุดลึกล้ำเหลือกำหนด
เหมือนเถาวัลย์พันเกี่ยวที่เลี้ยวลด
ก็ไม่คนเหมือนหนึ่งในน้ำใจ
(ตัวอย่าง)" style="width: 100%; height: 500px;"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">ตรวจ</button>
          <button type="submit" class="btn btn-primary">เล่นเสียง</button>
        </form>
      </div>
    </form>
  </div>



</body>

</html>